pkgbase = advantagescope
	pkgdesc = robot diagnostics, log review/analysis, and data visualization application tool
	pkgver = 4.1.6
	pkgrel = 1
	url = https://github.com/Mechanical-Advantage/AdvantageScope/releases/download/v4.1.6/advantagescope-linux-x64-v4.1.6.pacman
	arch = x86_64
	license = MIT
	makedepends = curl
	makedepends = tar
	depends = nspr
	depends = libxdamage
	depends = dbus
	depends = nss
	depends = libxcb
	depends = libxext
	depends = glib2
	depends = libxrandr
	depends = mesa
	depends = libxfixes
	depends = alsa-lib
	depends = alsa-lib
	depends = glibc
	depends = gcc-libs
	depends = libcups
	depends = libxkbcommon
	depends = cairo
	depends = at-spi2-core
	depends = pango
	depends = expat
	depends = libx11
	depends = gtk3
	depends = libdrm
	depends = libxcomposite
	depends = hicolor-icon-theme
	provides = libEGL.so
	provides = libGLESv2.so
	provides = libffmpeg.so
	provides = libvk_swiftshader.so
	provides = libvulkan.so
	conflicts = advantagescope-git
	source = https://github.com/Mechanical-Advantage/AdvantageScope/releases/download/v4.1.6/advantagescope-linux-x64-v4.1.6.pacman
	sha256sums = SKIP

pkgname = advantagescope
